HELP.md
target/

### 不关键的的静态资源 ###
src/main/resources/static/img/
src/main/resources/static/md/*.md
src/main/resources/static/page/*.html

### 其他非必要资源 ###
mvnw
mvnw.cmd

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/java/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
