### 其他非必要资源 ###
target/
HELP.md
mvnw
mvnw.cmd

### 不关键的的静态资源 ###
/src/main/resources/static/adminLTE/**
/src/main/resources/static/bootstrap-5.1.3-dist/**
/src/main/resources/static/pdfjs/**
/src/main/resources/static/page/*.html
/src/main/resources/static/pdf/*.pdf


!.mvn/wrapper/maven-wrapper.jar
!**/src/main/java/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
