/*大型屏幕设备 桌面*/
@media (min-width: 1200px) {
    /*设置自适应背景图*/
    body {
        background-image: url("../img/CCCP03.jpg");
        background-position: center 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
    }
    /*移动端文章推荐的显示与隐藏*/
    .rightIsShow{
        display: block;
    }
}


/*小屏幕设备 平板*/
@media (min-width: 768px) and (max-width: 1200px) {
    body {
        background-image: url("../img/CCCP03.jpg");
        background-position: center 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
    }
    .rightIsShow{
        display: block;
    }
}


/*超小屏幕设备 手机*/
@media (max-width: 768px) {
    body {
        background-image: url("../img/移动端背景图.jpg");
        background-position: center 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
    }
    .rightIsShow{
        display: none;
    }
}


/*设置正文容器背景*/
#bg {
    background: rgba(255, 255, 255, 0.85) no-repeat fixed center 0;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
}