<!DOCTYPE html>
<!-- 加载thymeleaf模板 -->
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Leftwing-Community索引页</title>
    <link rel="icon" th:href="@{/img/newlogo.png}" href="../static/img/newlogo.png" type="image/x-icon">
</head>

<body>
    <script type="text/javascript" th:inline="javascript">
        //跳转至首页
        window.location.href = [[@{/home}]];
    </script>
</body>

</html>