.markdown :root {
    --side-bar-bg-color: #fff;
    --control-text-color: #777;
}

.markdown html {
    font-size: 16px;
}

.markdown body {
    font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif !important;
    color: #34495e;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6rem;
    letter-spacing: 0;
    margin: 0;
    overflow-x: hidden;
}

.markdown p {
    /* 段落缩进2em */
    text-indent: 2em;
    color: #34495e;
}

.markdown img {
    /* 设置图片居中显示 */
    display: block;
    margin: 0 auto;
    /* 保持纵横比缩放图片,使图片的长边能完全显示出来 */
    width: 80%;
    object-fit: contain;
}

.markdown #write {
    max-width: 860px;
    margin: 0 auto;
    padding: 20px 30px 100px;
}

.markdown #write p {
    /* text-indent: 2rem; */
    line-height: 1.6rem;
    word-spacing: .05rem;
}

.markdown #write ol li {
    padding-left: 0.5rem;
}

.markdown #write > ul:first-child,
.markdown #write > ol:first-child {
    margin-top: 30px;
}

.markdown body > *:first-child {
    margin-top: 0 !important;
}

.markdown body > *:last-child {
    margin-bottom: 0 !important;
}

.markdown a {
    /* a标签文本颜色 */
    color: #8E354A;
    font-weight: 600;
    padding: 0px 2px;
    text-decoration: none;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
    color: #34495e;
}

.markdown h1:hover a.anchor,
.markdown h2:hover a.anchor,
.markdown h3:hover a.anchor,
.markdown h4:hover a.anchor,
.markdown h5:hover a.anchor,
.markdown h6:hover a.anchor {
    text-decoration: none;
}

.markdown h1 tt,
.markdown h1 code {
    font-size: inherit !important;
}

.markdown h2 tt,
.markdown h2 code {
    font-size: inherit !important;
}

.markdown h3 tt,
.markdown h3 code {
    font-size: inherit !important;
}

.markdown h4 tt,
.markdown h4 code {
    font-size: inherit !important;
}

.markdown h5 tt,
.markdown h5 code {
    font-size: inherit !important;
}

.markdown h6 tt,
.markdown h6 code {
    font-size: inherit !important;
}

.markdown h2 a,
.markdown h3 a {
    color: #34495e;
}

.markdown h3 a:before {
    content: '#';
    color: #42b983;
    position: absolute;;
    left: -0.7em;
    margin-top: -0.05em;
    padding-right: 0.5em;
    font-size: 1.2em;
    line-height: 1;
    font-weight: bold;
}

.markdown h1 {
    padding-bottom: .4rem;
    font-size: 2.2rem;
    line-height: 1.3;
}

.markdown h2 {
    font-size: 1.75rem;
    line-height: 1.225;
    margin: 35px 0px 15px 0px;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
}

.markdown h3 {
    font-size: 1.4rem;
    line-height: 1.43;
    margin: 20px 0px 7px 0px;
}

.markdown h4 {
    font-size: 1.2rem;
}

.markdown h5 {
    font-size: 1rem;
}

.markdown h6 {
    font-size: 1rem;
    color: #777;
}

.markdown p,
.markdown blockquote,
.markdown ul,
.markdown ol,
.markdown dl,
.markdown table {
    margin: 0.8em 0;
}

.markdown li > ol,
.markdown li > ul {
    margin: 0 0;
}

.markdown hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

.markdown body > h2:first-child {
    margin-top: 0;
    padding-top: 0;
}

.markdown body > h1:first-child {
    margin-top: 0;
    padding-top: 0;
}

.markdown body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0;
}

.markdown body > h3:first-child,
.markdown body > h4:first-child,
.markdown body > h5:first-child,
.markdown body > h6:first-child {
    margin-top: 0;
    padding-top: 0;
}

/* Additional styles for .markdown class */

.markdown a:first-child h1,
.markdown a:first-child h2,
.markdown a:first-child h3,
.markdown a:first-child h4,
.markdown a:first-child h5,
.markdown a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}

.markdown h1 p,
.markdown h2 p,
.markdown h3 p,
.markdown h4 p,
.markdown h5 p,
.markdown h6 p {
    margin-top: 0;
}

.markdown li p.first {
    display: inline-block;
}

.markdown ul,
.markdown ol {
    padding-left: 30px;
}

.markdown ul:first-child,
.markdown ol:first-child {
    margin-top: 0;
}

.markdown ul:last-child,
.markdown ol:last-child {
    margin-bottom: 0;
}

.markdown blockquote {
    border-left: 4px solid #CB1B45;
    padding: 10px 0px 10px 15px;
    color: #34495e;
    background-color: rgba(245, 150, 170, .1);
}

.markdown table {
    padding: 0;
    word-break: initial;
}

.markdown table tr {
    border-top: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
}

.markdown table tr:nth-child(2n),
.markdown thead {
    background-color: #fafafa;
}

.markdown table tr th {
    font-weight: bold;
    border: 1px solid #dfe2e5;
    border-bottom: 0;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

.markdown table tr td {
    border: 1px solid #dfe2e5;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

.markdown table tr th:first-child,
.markdown table tr td:first-child {
    margin-top: 0;
}

.markdown table tr th:last-child,
.markdown table tr td:last-child {
    margin-bottom: 0;
}

.markdown #write strong {
    padding: 0px 1px 0 1px;
}

.markdown #write em {
    padding: 0px 5px 0 2px;
}

.markdown #write table thead th {
    background-color: #f2f2f2;
}

.markdown #write .CodeMirror-gutters {
    border-right: none;
}

.markdown #write .md-fences {
    border: 1px solid #F4F4F4;
    -webkit-font-smoothing: initial;
    margin: 0.8rem 0 !important;
    padding: 0.3rem 0rem !important;
    line-height: 1.43rem;
    background-color: #F8F8F8 !important;
    border-radius: 2px;
    font-family: Roboto Mono, Source Sans Pro, Monaco, courier, monospace !important;
    font-size: 0.85rem;
    word-wrap: normal;
}

.markdown #write .CodeMirror-wrap .CodeMirror-code pre {
    padding-left: 12px;
}

.markdown code,
.markdown tt {
    margin: 0 2px;
    padding: 2px 4px;
    border-radius: 2px;
    font-family: Source Sans Pro, Roboto Mono, Monaco, courier, monospace !important;
    font-size: 0.92rem;
    color: #e96900;
    background-color: #f8f8f8;
}

.markdown #write .md-footnote {
    background-color: #f8f8f8;
    color: #e96900;
}

/* highlight. */
.markdown #write mark {
    background-color: #EBFFEB;
    border-radius: 2px;
    padding: 2px 4px;
    margin: 0 2px;
    color: #222;
    font-weight: 500;
}

.markdown #write del {
    padding: 1px 2px;
}

.markdown .cm-s-inner .cm-link,
.markdown .cm-s-inner.cm-link {
    color: #22a2c9;
}

.markdown .cm-s-inner .cm-string {
    color: #22a2c9;
}

.markdown .md-task-list-item > input {
    margin-left: -1.3em;
}

@media screen and (min-width: 914px) {
    /*body {
        width: 854px;
        margin: 0 auto;
    }*/
}

@media print {
    .markdown html {
        font-size: 13px;
    }

    .markdown table,
    .markdown pre {
        page-break-inside: avoid;
    }

    .markdown pre {
        word-wrap: break-word;
    }
}

.markdown .md-fences {
    background-color: #f8f8f8;
}

.markdown #write pre.md-meta-block {
    padding: 1rem;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border: 0;
    border-radius: 3px;
    color: #777777;
    margin-top: 0 !important;
}

.markdown .mathjax-block > .code-tooltip {
    bottom: .375rem;
}

.markdown #write > h3.md-focus:before {
    left: -1.5625rem;
    top: .375rem;
}

.markdown #write > h4.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

.markdown #write > h5.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

.markdown #write > h6.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

.markdown .md-image > .md-meta {
    /*border: 1px solid #ddd;*/
    border-radius: 3px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    padding: 2px 0px 0px 4px;
    font-size: 0.9em;
    color: inherit;
}

.markdown .md-tag {
    color: inherit;
}

.markdown .md-toc {
    margin-top: 20px;
    padding-bottom: 20px;
}

.markdown .sidebar-tabs {
    border-bottom: none;
}

.markdown #typora-quick-open {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

.markdown #typora-quick-open-item {
    background-color: #FAFAFA;
    border-color: #FEFEFE #e5e5e5 #e5e5e5 #eee;
    border-style: solid;
    border-width: 1px;
}

.markdown #md-notification:before {
    top: 10px;
}

/** focus mode */

.markdown .on-focus-mode blockquote {
    border-left-color: rgba(85, 85, 85, 0.12);
}

.markdown header,
.markdown .context-menu,
.markdown .megamenu-content,
.markdown footer {
    font-family: "Segoe UI", "Arial", sans-serif;
}

.markdown .file-node-content:hover .file-node-icon,
.markdown .file-node-content:hover .file-node-open-state {
    visibility: visible;
}

.markdown .mac-seamless-mode #typora-sidebar {
    background-color: #fafafa;
    background-color: var(--side-bar-bg-color);
}

.markdown .md-lang {
    color: #b4654d;
}

.markdown .html-for-mac .context-menu {
    --item-hover-bg-color: #E6F0FE;
}